@media screen 
  and (min-device-width: 2301px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .wrapper-main {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        z-index: 0;
    }
    .wrapper {
        width: 100%;
        min-height: 100vh;
    }
    
    .left-container {
        width: 24%;
        background-color: #F4C42F;
    }
    .my-name {
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 0 40px;
    }

    .link-text {
        color: #D26442;
    }

    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .float-dark-box{
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: #171C46;
        width: 22px;
        height: 22px;
    }
    
    .right-container {
        width: 76%;
        display: flex;
        background-color: #171C46;
    }
    
    .navigation {
        flex-grow: 1;
        color: white;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;   
    }
    
    .main-content {
        flex-grow: 12;
        border-style: solid;
        border-color: #F4C42F;
        border-width: 0 1px 0 0;
        display: flex;
    }
    
    .main-empty-1 {
        flex-grow: 60;
    }
    
    .about-text {
        font-size: 1.2em;
        margin: 5px 0;
    }
    .float-dark-light {
        position: relative;
        top: 20%;
        left: 40%;
        background-color: #F4C42F;
        width: 22px;
        height: 22px;
    }
    
    .float-dark-primary {
        position: relative;
        top: 5%;
        left: 20%;
        background-color: #D26442;
        width: 22px;
        height: 22px;
    }
    
    .main-text {
        flex-grow: 25;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    
    }
    
    .text-syle {
        font-size: larger;
        letter-spacing: 0.015em;
        word-spacing: 0.4em;
        color: #F4C42F;
    }
    .text-paragraph {
        margin: 4px 0;
    }
    
    .emp-text {
        color: #F4C42F;
        font-size: 4.5em;
        margin: 20px 0;
    }
    .scroable-container {
        height: 500px;
        overflow-y: auto
    }
    .scroable-container::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
      
    .scroable-container::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(151, 151, 151, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    .text-container {
        width: 100%;
        font-size: 1em;
    }
    
    .main-empty-2 {
        flex-grow: 15;
    }
    
    .floating-profile-home {
        position: absolute;
        left: 12%;
        top:25%;
        width: 28%;
        z-index: 2
    }
    
    .floating-profile-home .profile-image-container {
        position: absolute;
        width: 450px;
        height: 450px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%; 
    }

    .image-prof.blurred {
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 450px;
        width: 450px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .nav-link:link {
        color: #D8D8D8;
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    .nav-link:visited {
        color: #D8D8D8;
    }

    .nav-link:hover {
        color: yellow;
      }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2300px){
    .main-empty-1 {
        flex-grow: 50;
    }
    
    .floating-profile-home {
        position: absolute;
        left: 12%;
        top:25%;
        width: 28%;
        z-index: 2
    }
    .floating-profile-home .profile-image-container {
        position: absolute;
        width: 325px;
        height: 325px;
        z-index: 2;
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 325px;
        width: 325px;
        z-index: -1;
    }
  }

  @media screen 
  and (max-device-width: 1199px) {
    .wrapper {
        width: 100%;
        height: 100vh;
    }
    .wrapper-main {
        display: flex;
        width: 100%;
        flex-direction: column;
        z-index: 0;
    } 
    .left-container {
        background-color: #F4C42F;
        height: 70px;
    }

    .text-container {
        width: 100%;
        font-size: 1em;
        color: white;
    }

    .text-syle {
        font-size: medium;
        letter-spacing: 0.015em;
        word-spacing: 0.4em;
        color: #F4C42F;
    }

    .text-paragraph {
        margin: 4px 0;
    }
    .my-name {
        font-size: 1.5em;
        font-weight: 600;
        margin: 20px 0 0 20px;
    }
    
    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .right-container {
        display: flex;
        flex-direction: column;
        justify-items: left;
        align-items: center;
        height: 100%;
    }

    .main-content {
        display: flex;
        flex-direction: column;

    }
    .main-empty-1 {
        display: block;
        height: 380px;
    }
    .main-text {
    }
    .main-empty-2 {
    }

    .floating-profile-home {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 110px;
        left: 0;
        right: 0;
        z-index: 2
    }
    
    .floating-profile-home .profile-image-container {
        position: absolute;
        left: 5%;
        width: 300px;
        height: 300px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%;
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 15%;
        height: 300px;
        width: 300px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .large-text {
        color:  white;
        font-size: 5em;
        margin: 20px 0;
    }

    .navigation {
        left: -100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #F4C42F;
        width: 100%;
        font-size: 3em;
        height: 100vh;
        z-index: 3;
        transition: left .5s;
        justify-content: center;
    }
    .navigation p {
        margin: 10px 0 10px 0
    }

    .navigation.is-nav-open {
        left: 0;
        padding-left: 20px;

    }
    .nav-icon {
        margin: 1em;
        width: 40px;
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
      }
      
      .nav-icon:after, 
      .nav-icon:before, 
      .nav-icon div {
        background-color: #171C46;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all .1s ease-in-out;
      }

      .nav-icon.is-nav-open:before {
        transform: translateY(10px) rotate(135deg);
      }
      
      .nav-icon.is-nav-open:after {
        transform: translateY(-10px) rotate(-135deg);
      }
      
      .nav-icon.is-nav-open div {
        transform: scale(0);
      }
      .link-text {
          color: #D26442;
      }
  }


  @media screen 
  and (min-device-width: 700px) 
  and (max-device-width: 1199px){
    .floating-profile-home .profile-image-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 325px;
        height: 325px;
        z-index: 2;
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 45px;
        margin-left: 43%;
        margin-right: auto;
        height: 325px;
        width: 325px;
        z-index: -1;
    }
    .profile-image-blank {
        display: flex;
    }
    .row-gif {
        display: flex;
        height: 50%;
        width: 100%;
        z-index: 2;
    }
    .cell-gif {
        background-color: darkmagenta;
    }
  }

  @media screen 
  and (min-device-width: 490px)
  and (max-device-width: 699px) {
    .floating-profile-home .profile-image-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 300px;
        height: 300px;
        z-index: 2;
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 45px;
        margin-left: 33%;
        height: 300px;
        width: 300px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }
    .profile-image-blank {
        display: flex;
    }
    .row-gif {
        display: flex;
        height: 50%;
        width: 100%;
        z-index: 2;
    }
    .cell-gif {
        background-color: darkmagenta;
    }
  }
  @media screen 
  and (max-device-width: 489px){
    .floating-profile-home .profile-image-container {
        position: absolute;
        left: 5%;
        width: 300px;
        height: 300px;
        z-index: 2;
    }
    
    .floating-profile-home .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 45px;
        margin-left: 15%;
        height: 300px;
        width: 300px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .profile-image-blank {
        display: flex;
    }
    .row-gif {
        display: flex;
        height: 50%;
        width: 100%;
        z-index: 2;
    }
    .cell-gif {
        background-color: darkmagenta;
    }
  }


  .home-centered-text {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .large-text {
    font-size: 5em;
    margin: 20px 0;
}

.text-top {
    flex-grow: 30;
}
