.workOuterContainer {
	/*.workTitle {
		margin-bottom: 0;
	}*/
	.bold {
		font-weight: 450;
		color: #000;
	}
	.workContainer {
		/*padding:30px;*/ 
		padding-top: 0;
		width: 80%;
	    padding: 0;
	    margin: auto;
	    /*margin-left: 14%;*/
		.workContent {
			overflow:auto;
			.headlineText {
				color: #B51A17;
				font-size: 1.2em;
			}
			.workSection {
				margin-bottom: 30px;
				padding-right: 15px;
				.noMargin {
					margin-bottom: 0px !important;
				}
				.workHeader {
					font-size: 1.4em;
					font-weight: 500;
					margin-bottom: 15px;
					color: #000;
				}
				.andText {
					font-size: 0.8em;
				}
				.captionText {
					text-align: center;
				    font-size: 0.8em;
				    color: #999;
				    margin-bottom: 15px;
				}
				.lessMarginImg {
					img {
						margin-bottom: 5px !important;
					}
				}
				&.goalsContainer {
					margin-top: 15px;
					.goalContainer {
						margin-bottom: 15px;
						/*p {
							margin-bottom: 15px;
						}*/
						img {
							display: inline-block;
							margin-right: 15px;
						}
						.batch {
							bottom: 0px;
						}
					}
				}
				&.strategyContainer {
					.questionContainer {
						img {
							margin: 0;
						    width: 12px;
						    position: relative;
						    bottom: 10px;
						}
					}
					img {
						width: 100%;
						margin-bottom: 20px;
					}
					.subText {
						margin-bottom: 10px;
					}
					.classDojoContainer {
						.circleDividerSmall {
							bottom: 5px;
						}
						.classDojoText {
							margin-bottom: 15px;
						}
					}
					.discoveryContainer {
						.summaryText {
							margin-top: 10px;
						}
					}
				}
				&.scopeContainer {
					.featuresTableImg {
						margin-bottom: 5px;
					}
				}
				&.structureContainer {
					img {
						width: 100%;
						margin-bottom: 25px;
					}
				}
				&.lofiContainer {
					img {
						width: 100%;
					}
					.insightsLofi {
						margin-bottom: -65px;
						img {
							/*transform: scale(0.95);*/
							transform-origin: top left;
						}
						.insightsGroupLofiImg {
							transform: scale(0.874);
							transform-origin: top left;
						}
					}
				}
				&.hifiContainer {
				}
				.image-gallery-left-nav::before, .image-gallery-right-nav::before {
					color: black;
				}
				.image-gallery-left-nav, .image-gallery-right-nav {
					font-size: 2em;
				}
				.subHeader {
					margin-bottom: 10px;
					font-size: 1.2em;
				    color: black;
				    font-weight: 500
				}
				.subText {
					display: inline-block;
					vertical-align: middle;
					margin-left: 10px;
				}
				.secondaryHeader {
					margin-bottom: 10px;
					font-size: 1em;
				    color: black;
				    font-weight: 500
				}
				.circleDivider {
			    	background: #D0021B;
				    border-radius: 50%;
				    display: inline-block;
					width: 15px;
					height: 15px;
					bottom: 8px;
					position: relative;
				}
				.circleDividerSmall {
					background-color: black;
					width: 8px;
					height: 8px;
					position: relative;
					bottom: 8px;
					display: inline-block;
					border-radius: 50%;
				}
				.firstContainer {
					.circleDividerSmall {
						bottom: 5px;
					}
				}
			}
		}
		&.studyThreePage {
			.goalsContainer {
				margin-bottom: 10px !important;
			}
			.biggerSubText {
				width: 90% !important;
			}
		}
	}
}

.studyOnePage {
	.circleDivider {
		bottom: 0px !important;
	}
	.finalFeedback {
		.circleDivider {
			bottom: 8px !important;
		}
		margin-bottom: 5px !important;
	}
	.feedbackContainerOne {
		.circleDivider {
			bottom: 5px !important;
		}
	}
	.highlightedWord {
		color: black;
		font-weight: 500;
	}
	img { 
		width: 100%;
		margin-bottom: 20px; 
	}
	.newsfeedImg {
		/*transform: scale(0.85);
		transform-origin: top center;*/
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

/* WEB Media Query  */
@media only screen and (min-width: 1075px) {
	.workOuterContainer {
		padding-top: 87px;
		padding-bottom: 13px;
		.workContainer {
			height: 500px;
			/*width: 85%; */
		/*	padding-bottom: 10px;
		*/	/*padding-left: 42px;*/
			.workContent {
				height: 500px;
				/*padding-right: 50px;*/
				overflow:auto;
			}
			&.studyTwoPage {
				.goalsContainer {
					margin-top: 60px !important;
				}
			}
			.workSection {
				.subText {
					width: 94%;
				}
			}
		}
	}
}

/* Mobile Media Query  */
@media only screen and (max-width: 1075px) {
	.workOuterContainer {
		.workTitle {
			margin-left: 19px;
		}
		.startLinkContainer {
			position: relative;
		    bottom: 15px;
		    text-align: center;
		    color: #D0021B;
		    margin-bottom: 7px;
		    a {
		    	cursor: pointer;
		    }
		    button {
		    	height: 45px;
	    	    width: 100%;
	    	    background: #D0021B;
	    	    color: white;
	    	    font-size: 16px;
	    	    border: none;
		    }
		}
		.workContainer {
			/*padding-bottom: 60px;*/
			height: 390px;
			margin-bottom: 30px;
			/*width: 89%; 
			padding-left: 20px;*/
			.workContent {
				height: 390px;
				/*padding-right: 20px;*/
				/*padding-left: 5px;*/
			}
			&.studyTwoPage {
				.goalsContainer {
					margin-top: 0px !important;
				}
			}
			.workSection {
				.subText {
					width: 90%;
				}
				.biggerSubText {
					width: 94%
				}
			}
		}
	}		
}