.studyTwoPage {
	.strategyContainer {
		.image-gallery {
			margin-bottom: 20px;
		}
		.colonText {
			margin-bottom: 15px;
		}
		ol {
			padding-left: 30px;
			padding-right: 20px;
			margin: 0;
			li {
				margin-bottom: 10px;
			}
			.secondItem {
				margin-bottom: 20px;
			}
		}
		.lofiFiveImg {
			margin-bottom: 0px !important;
		}
		.inspiration {
			margin-bottom: 10px;
		}
	}
	.hifiContainer {
		img {
			width: 100%;
		}
	}
}

/* WEB Media Query  */
@media only screen and (min-width: 1000px) {
	.introContainer {
		.image-gallery {
			height: 372px;
		}
	}	
}

/* Mobile Media Query  */
@media only screen and (max-width: 1000px) {
	.introContainer {
		.image-gallery {
			height: auto;
		}
	}
}