.studyTwoPage {
	.strategyContainer {
		.image-gallery {
			margin-bottom: 20px;
		}
		.colonText {
			margin-bottom: 15px;
		}
		ol {
			margin: 0;
			li {
				margin-bottom: 10px;
			}
			.secondItem {
				margin-bottom: 20px;
			}
		}
	}
	.hifiContainer {
		img {
			width: 100%;
		}
	}
}