@media screen 
  and (min-device-width: 2301px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .wrapper-main {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        z-index: 0;
    }
    .wrapper {
        width: 100%;
        min-height: 100vh;
    }
    
    .left-container {
        width: 24%;
        background-color: #F4C42F;
    }
    .my-name {
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 0 40px;
    }

    .link-text {
        color: #D26442;
    }

    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .float-dark-box{
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: #171C46;
        width: 22px;
        height: 22px;
    }
    
    .right-container {
        width: 76%;
        display: flex;
    }
    
    .navigation {
        flex-grow: 1;
        color: white;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;   
    }
    
    .main-content {
        flex-grow: 12;
        border-style: solid;
        border-color: #F4C42F;
        border-width: 0 1px 0 0;
        display: flex;
    }
    
    .main-empty- {
        flex-grow: 40;
    }
    
    .my-work {
        font-size: 1.2em;
    }
    .float-dark-light {
        position: relative;
        top: 20%;
        left: 40%;
        background-color: #F4C42F;
        width: 22px;
        height: 22px;
    }

    .float-white-box {
        position: relative;
        background-color: #fff;
        width: 22px;
        height: 22px;
        right: 150px;
        bottom: -400px;
    }
    
    .float-dark-primary {
        position: relative;
        top: 5%;
        left: 20%;
        background-color: #D26442;
        width: 22px;
        height: 22px;
    }
    
    .main-text {
        flex-grow: 25;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    
    }
    
    .text-syle {
        font-size: larger;
        letter-spacing: 0.015em;
        word-spacing: 0.4em;
        color: #F4C42F;
    }
    .text-paragraph {
        margin: 4px 0;
    }

    .all-works {
        display: flex;
        flex-direction: column;
    }

    .each-work {
        display: flex;
        justify-content: space-between;
    }

    .work-image-wrapper {
        width: 30%;
        background-color: #D8D8D8 ;
    }
    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }
    .main-work-text {
        font-size:  3em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
    }
    .secondary-work-text {
        font-size: 1.2em;
        color: #F5C509;
        width: 35em;
    }
    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;
        width: 100%;
    }
    .blurred-modal {
        position: relative;
        width: 20%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 80%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: right 1.5s;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        margin: 20px 20px;
    }


    // works section
    .top-content {
        position: fixed;
        color: white;
        top: 10px;
    }
    
    .modal-section {
        height: 100vh;
    }
    .first-content {
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
    .second-content {
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color: #171C46;
        padding: 0 40px;
        background-color: azure;
    }
    .modal-img-one {
        width: 400px;
        height: 250px;
        background-color: white;
        padding-right: 20px;
    }

    .double-images-wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-small-img {
        width: 330px;
        height: 200px;
        margin: 15px;
        background-color: #F5C509;
    }
    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
    .all-caps {
        text-transform: uppercase;
    }
    .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    .works-type {
        font-weight: 600;
        margin-top: 40px;
    }

    .news-format {
        display: flex;
    }
    .news-format-left {
        margin-left: 20px;
    }
    .news-format-right {
        margin-left: 40px;
        color: #D26442;
    }
    .quoted {
        font-size: 3em;
        position: relative;
        top: 10px;
        left: 10px;
        color: #D26442;
    }

    .news-sub-heading {
        font-weight: 600;
    }
    .news-heading {
        font-weight: 900;
        margin: .5em 0;
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .emp-text {
        color: #F4C42F;
        font-size: 4.5em;
        margin: 20px 0;
    }
    .scroable-container {
        height: 500px;
        overflow-y: auto
    }
    .scroable-container::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
      
    .scroable-container::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(151, 151, 151, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    .text-container {
        width: 100%;
        font-size: 1em;
    }
    
    .main-empty-2 {
        flex-grow: 15;
    }
    
    .floating-profile {
        position: absolute;
        left: 12%;
        top:25%;
        width: 28%;
        height: 50%;
        z-index: 2
    }
    
    .floating-profile .profile-image-container {
        position: absolute;
        width: 450px;
        height: 450px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%;
        
    }
    
    .floating-profile .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 450px;
        width: 450px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .nav-link:link {
        color: #D8D8D8;
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    .nav-link:visited {
        color: #D8D8D8;
    }

    .nav-link:hover {
        color: yellow;
      }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 2300px)
  and (-webkit-min-device-pixel-ratio: 1) { 
    .wrapper-main {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        z-index: 0;
    }
    .wrapper {
        width: 100%;
        min-height: 100vh;
    }
    
    .left-container {
        width: 24%;
        background-color: #F4C42F;
    }
    .my-name {
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 0 40px;
    }

    .link-text {
        color: #D26442;
    }

    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .float-dark-box{
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: #171C46;
        width: 22px;
        height: 22px;
    }
    
    .right-container {
        width: 76%;
        display: flex;
    }
    
    .navigation {
        flex-grow: 1;
        color: white;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;   
    }
    
    .main-content {
        flex-grow: 12;
        border-style: solid;
        border-color: #F4C42F;
        border-width: 0 1px 0 0;
        display: flex;
    }
    
    .main-empty- {
        flex-grow: 40;
    }
    
    .my-work {
        font-size: 1.2em;
    }
    .float-dark-light {
        position: relative;
        top: 20%;
        left: 40%;
        background-color: #F4C42F;
        width: 22px;
        height: 22px;
    }

    .float-white-box {
        position: relative;
        background-color: #fff;
        width: 22px;
        height: 22px;
        right: 150px;
        bottom: -400px;
    }
    
    .float-dark-primary {
        position: relative;
        top: 5%;
        left: 20%;
        background-color: #D26442;
        width: 22px;
        height: 22px;
    }
    
    .main-text {
        flex-grow: 25;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    
    }
    
    .text-syle {
        font-size: larger;
        letter-spacing: 0.015em;
        word-spacing: 0.4em;
        color: #F4C42F;
    }
    .text-paragraph {
        margin: 4px 0;
    }

    .all-works {
        display: flex;
        flex-direction: column;
    }

    .each-work {
        display: flex;
        justify-content: space-between;
    }

    .work-image-wrapper {
        width: 30%;
        background-color: #D8D8D8 ;
    }
    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }
    .main-work-text {
        font-size:  3em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
    }
    .secondary-work-text {
        font-size: 1.2em;
        color: #F5C509;
        width: 35em;
    }
    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;
        width: 100%;
    }
    .blurred-modal {
        position: relative;
        width: 20%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 80%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: right 1.5s;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        margin: 20px 20px;
    }


    // works section
    .top-content {
        position: fixed;
        color: white;
        top: 10px;
    }
    
    .modal-section {
        height: 100vh;
    }
    .first-content {
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
    .second-content {
        height: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color: #171C46;
        padding: 0 40px;
        background-color: azure;
    }
    .modal-img-one {
        width: 400px;
        height: 250px;
        background-color: white;
        padding-right: 20px;
    }

    .double-images-wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-small-img {
        width: 330px;
        height: 200px;
        margin: 15px;
        background-color: #F5C509;
    }
    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
    .all-caps {
        text-transform: uppercase;
    }
    .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    .works-type {
        font-weight: 600;
        margin-top: 40px;
    }

    .news-format {
        display: flex;
    }
    .news-format-left {
        margin-left: 20px;
    }
    .news-format-right {
        margin-left: 40px;
        color: #D26442;
    }
    .quoted {
        font-size: 3em;
        position: relative;
        top: 10px;
        left: 10px;
        color: #D26442;
    }

    .news-sub-heading {
        font-weight: 600;
    }
    .news-heading {
        font-weight: 900;
        margin: .5em 0;
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .emp-text {
        color: #F4C42F;
        font-size: 4.5em;
        margin: 20px 0;
    }
    .scroable-container {
        height: 500px;
        overflow-y: auto
    }
    .scroable-container::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
      
    .scroable-container::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(151, 151, 151, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    .text-container {
        width: 100%;
        font-size: 1em;
    }
    
    .main-empty-2 {
        flex-grow: 15;
    }
    
    .floating-profile {
        position: absolute;
        left: 12%;
        top:25%;
        width: 28%;
        height: 50%;
        z-index: 2
    }
    
    .floating-profile .profile-image-container {
        position: absolute;
        width: 400px;
        height: 400px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%;
        
    }
    
    .floating-profile .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 400px;
        width: 400px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .nav-link:link {
        color: #D8D8D8;
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    .nav-link:visited {
        color: #D8D8D8;
    }

    .nav-link:hover {
        color: yellow;
      }
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1750px){
    .floating-profile .profile-image-container {
        position: absolute;
        width: 350px;
        height: 550px;
        z-index: 2;
    }
    
    .floating-profile .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 350px;
        width: 350px;
        z-index: -1;
    }
  }

  @media screen 
  and (max-device-width: 1199px) {
    .wrapper {
        width: 100%;
        height: 100vh;
    }
    .wrapper-main {
        display: flex;
        width: 100%;
        flex-direction: column;
        z-index: 0;
    } 
    .left-container {
        background-color: #F4C42F;
        height: 70px;
    }

    .text-container {
        width: 100%;
        font-size: 1em;
        color: white;
    }

    .text-syle {
        font-size: medium;
        letter-spacing: 0.015em;
        word-spacing: 0.4em;
        color: #F4C42F;
    }

    .text-paragraph {
        margin: 4px 0;
    }
    .my-name {
        font-size: 1.5em;
        font-weight: 600;
        margin: 20px 0 0 20px;
    }
    
    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .right-container {
        display: flex;
        flex-direction: column;
        justify-items: left;
        align-items: center;
        height: 100%;
    }

    .main-content {
        width: 100%;

    }
    .main-empty-1 {
        display:none;
    }
    .main-text {
        display: flex;
    }
    .main-empty-2 {
        display: none;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
    }
    .all-works {
        display: flex;
        flex-direction: column;
    }
    .each-work {
        display: flex;
        flex-direction: column-reverse;
    }

    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }

    .work-image-wrapper {
        height: 100px;
        background-color: #D8D8D8 ;
    }

    .main-work-text {
        font-size:  2em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
    }
    .secondary-work-text {
        font-size: 1em;
        color: #F5C509;
    }
    .floating-profile {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top:12%;
        left: 0;
        right: 0;
        height: 50%;
        z-index: 2
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .floating-profile{
        display: none;
    }
    .my-work { 
        font-size: 1.2em;
    }

    // .floating-profile .profile-image-container {
    //     position: absolute;
    //     left: 5%;
    //     width: 300px;
    //     height: 300px;
    //     z-index: 2;
    // }
    
    // .image-prof {
    //     width: 100%;
    // }
    
    // .floating-profile .profile-image-blank {
    //     position: relative;
    //     background-color: #D26442;
    //     margin-top: 10%;
    //     margin-left: 15%;
    //     height: 300px;
    //     width: 300px;
    //     z-index: -1;
    //     box-shadow: 0 2px 4px 0 #000;
    // }

    .large-text {
        color:  white;
        font-size: 5em;
        margin: 20px 0;
    }

    .navigation {
        left: -100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #F4C42F;
        width: 100%;
        font-size: 3em;
        height: 100vh;
        z-index: 3;
        transition: left .5s;
        justify-content: center;
    }
    .navigation p {
        margin: 10px 0 10px 0
    }

    .navigation.is-nav-open {
        left: 0;
        padding-left: 20px;

    }
    .nav-icon {
        margin: 1em;
        width: 40px;
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
      }
      
      .nav-icon:after, 
      .nav-icon:before, 
      .nav-icon div {
        background-color: #171C46;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
      }

      .nav-icon.is-nav-open:before {
        transform: translateY(10px) rotate(135deg);
      }
      
      .nav-icon.is-nav-open:after {
        transform: translateY(-10px) rotate(-135deg);
      }
      
      .nav-icon.is-nav-open div {
        transform: scale(0);
      }
      .link-text {
          color: #D26442;
      }



    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;
        width: 100%;
    }
    // .blurred-modal {
    //     position: relative;
    //     width: 20%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     background: rgba($color: #7e7e7e, $alpha: 0.6);
    //     filter: blur(8px);
    //     -webkit-filter: blur(8px);
    // }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 100%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: right 1.5s;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        color: #D26442;
        margin: 20px 20px;
    }

    .top-content {
        flex-grow: 30;
    }

    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
     // works section
     .top-content {
        position: fixed;
        color: #D26442;
        top: 10px;
    }
    
    .modal-section {
        height: 100vh;
    }

    .first-content {
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
  }