$primary-light: #F4C42F;
$primary-white: #fff;

@media screen 
  and (min-width: 1500px) 
 { 
    .wrapper-main {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        z-index: 0;
    }
    .wrapper {
        width: 100%;
        min-height: 100vh;
    }
    
    .left-container-works {
        width: 24%;
        background-color: #F4C42F;
    }
    .my-name-works {
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 0 40px;
    }

    .link-text {
        color: #D26442;
    }

    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .float-dark-box{
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: #171C46;
        width: 22px;
        height: 22px;
    }
    
    .right-container-works {
        width: 76%;
        display: flex;
        position: relative;
        background-color: #171C46;
    }
    
    .navigation-works {
        // flex-grow: 1;
        position: absolute;
        right: 0;
        border-style: solid;
        border-width: 0  0  0 1px;
        border-color: #F4C42F;
        padding-left: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        margin: 0 20px; 
        height: 100%;
    }
    
    .main-content {
        flex-grow: 12;
        display: flex;
    }
    
    .main-empty- {
        flex-grow: 45;
        position: relative;
    }
    
    .my-work {
        font-size: 1.2em;
    }
    .float-dark-light {
        position: relative;
        top: 20%;
        left: 30%;
        background-color: #F4C42F;
        width: 22px;
        height: 22px;
        z-index: 2;
    }

    .float-white-box {
        position: absolute;
        background-color: #fff;
        width: 22px;
        height: 22px;
        right: 20%;
        z-index: 2;
    }
    
    .float-dark-primary {
        position: relative;
        top: 5%;
        right: 10%;
        background-color: #D26442;
        width: 22px;
        height: 22px;
    }
    
    .main-text {
        flex-grow: 25;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
    
    }
    
    .text-syle {
        font-size: larger;
        color: #F4C42F;
    }
    .text-paragraph {
        margin: 4px 0;
    }

    .all-works {
        display: flex;
        flex-direction: column;
    }

    .each-work {
        display: flex;
        justify-content: space-between;
    }

    .work-image-wrapper {
        width: 20%;
        background-color: #D8D8D8 ;
    }
    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }
    .main-work-text {
        font-size:  3em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
    }
    .secondary-work-text {
        font-size: 1.2em;
        color: #F5C509;
        width: 20em;
    }
    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;
        width: 100%;
    }
    .blurred-modal {
        position: relative;
        width: 20%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 80%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: all 1s;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        margin: 20px 20px;
    }


    // works section
    .top-content {
        position: fixed;
        color: white;
        top: 10px;
    }
    
    .modal-section {
        // height: 100vh;
    }
    .first-content {
        // height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
    .second-content {
        // height: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color: #171C46;
        padding: 0 40px;
        background-color: azure;
    }
    .modal-img-one {
        width: 400px;
        height: 250px;
        background-color: white;
        padding-right: 20px;
    }

    .double-images-wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-small-img {
        width: 330px;
        height: 200px;
        margin: 15px;
        background-color: #F5C509;
    }
    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
    .all-caps {
        text-transform: uppercase;
    }
    .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    .works-type {
        font-weight: 600;
        margin-top: 40px;
    }

    .news-format {
        display: flex;
    }
    .news-format-left {
        margin-left: 20px;
        width: 450px;

    }
    .news-format-right {
        margin-left: 40px;
        color: #D26442;
        width: 400px;
    }
    .quoted {
        font-size: 3em;
        position: relative;
        top: 10px;
        left: 10px;
        color: #D26442;
    }

    .news-sub-heading {
        font-weight: 600;
    }
    .news-heading {
        font-weight: 900;
        margin: .5em 0;
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .emp-text {
        color: #F4C42F;
        font-size: 4.5em;
        margin: 20px 0;
    }
    .scroable-container {
        height: 500px;
        overflow-y: auto
    }
    .scroable-container::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
      
    .scroable-container::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(151, 151, 151, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    .text-container-works {
        width: 100%;
        font-size: 1em;
        flex-grow: 6;
        opacity: 0;
        transform: translateY(-20%);
        transition: opacity 2.5s ease-in;
        transition-delay: .5s;
    }
    
    .main-empty-2 {
        flex-grow: 15;
    }
    
    .floating-profile-work {
        position: absolute;
        left: 12%;
        top:25%;
        opacity: 1;
        width: 28%;
        height: 50%;
        z-index: 2;
    }
    
    .floating-profile-work .profile-image-container {
        position: absolute;
        width: 350px;
        height: 350px;
        z-index: 2;
    }
    
    .image-prof-works {
        width: 100%;
        
    }
    
    .floating-profile-work .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 350px;
        width: 350px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .floating-profile-work.is-loaded {
        top: 25%;
        left: 12%;
        opacity: 1;
    }

    .nav-link:link {
        color: #D8D8D8;
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    .nav-link:visited {
        color: #D8D8D8;
    }

    .nav-link:hover {
        color: yellow;
      }

    .section-intro {
        width: 512px;
    }

    .all-blue {
        background-color: #171C46;
    }

    .left-to-full {
        margin-left: 20px;
        
    }
    .bottom-div {
        display: flex;
        justify-content: space-between;
    }
    .bottom-content {
        width: 48%;
    }
    
}
@media screen 
  and (min-width: 1200px) 
  and (max-width: 1499px)
  { 

    .set-up-profile {
        left: 14%;
        top: -15%;
        opacity: 0;
    }
    .animate-from-about {
        top: 0%;
        left: 0%;
        opacity: 1;
        transition: all 1.2s ease-in;
    
    }

    .wrapper-main {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: row;
        z-index: 0;
    }
    .wrapper {
        width: 100%;
        min-height: 100vh;
    }
    
    .left-container-works {
        width: 24%;
        background-color: #F4C42F;
    }

    .my-name-works {
        font-size: 2.5em;
        font-weight: 600;
        margin: 20px 0 0 40px;
    }
    .text-container-works {
        flex-grow: 4;
        width: 100%;
        opacity: 0;
        transform: translateY(-20%);
        transition: opacity 2.5s ease-in;
        transition-delay: .5s;
    }

    .link-text {
        color: #D26442;
    }

    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .float-dark-box{
        position: absolute;
        bottom: 15%;
        left: 5%;
        background-color: #171C46;
        width: 22px;
        height: 22px;
    }
    
    .right-container-works {
        width: 76%;
        display: flex;
        position: relative;
        background-color: #171C46;
    }
    
    .navigation-works {
        // flex-grow: 1;
        color: white;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2em; 
        margin: 0 20px;
        right: 0;
        height: 100%;
        border-style: solid;
        border-width: 0  0  0 1px;
        border-color: #F4C42F;
        border-width: 0  0  0 1px;
        padding: 0 0 0 20px;
        position: absolute;
    }
    
    .main-content {
        flex-grow: 12;
        // border-style: solid;
        // border-color: #F4C42F;
        // border-width: 0 1px 0 0;
        display: flex;
    }
    
    .main-empty- {
        flex-grow: 40;
    }
    
    .my-work {
        font-size: 1.2em;
    }
    .float-dark-light {
        position: relative;
        top: 20%;
        left: 30%;
        background-color: #F4C42F;
        width: 22px;
        height: 22px;
    }

    
    .float-dark-primary {
        position: absolute;
        top: 5%;
        right: 10%;
        background-color: #D26442;
        width: 22px;
        height: 22px;
        z-index: 2;
    }
    
    .main-text {
        flex-grow: 20;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    
    }
    
    .text-syle {
        font-size: larger;
        color: #F4C42F;
    }
    
    .text-paragraph {
        margin: 4px 0;
    }

    .all-works {
        display: flex;
        flex-direction: column;
    }

    .each-work {
        display: flex;
        justify-content: space-between;
    }
    .work-text {
        font-size: .6em;
    }
    .work-image-wrapper {
        width: 30%;
        background-color: #D8D8D8 ;
    }
    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }
    .main-work-text {
        font-size:  3em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
    }
    .secondary-work-text {
        font-size: 1.2em;
        color: #F5C509;
        width: 20em;
    }
    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;
        width: 100%;
    }
    .blurred-modal {
        position: relative;
        width: 20%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        filter: blur(8px);
        -webkit-filter: blur(8px);
    }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 80%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: right 0.5s;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        margin: 20px 20px;
    }


    // works section
    .top-content {
        position: fixed;
        color: white;
        top: 10px;
    }
    
    .modal-section {
        // height: 100vh;
    }
    .first-content {
        // height: 45%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
    .modal-img-one {
        width: 400px;
        height: 250px;
        background-color: white;
        padding-right: 20px;
    }

    .double-images-wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-small-img {
        width: 330px;
        height: 200px;
        margin: 15px;
        background-color: #F5C509;
    }
    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
    .all-caps {
        text-transform: uppercase;
    }
    .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    .works-type {
        font-weight: 600;
        margin-top: 40px;
    }

    .news-format {
        display: flex;
    }
    .news-format-left {
        margin-left: 20px;
    }
    .news-format-right {
        margin-left: 40px;
        color: #D26442;
    }
    .quoted {
        font-size: 3em;
        position: relative;
        top: 10px;
        left: 10px;
        color: #D26442;
    }

    .news-sub-heading {
        font-weight: 600;
    }
    .news-heading {
        font-weight: 900;
        margin: .5em 0;
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .emp-text {
        color: #F4C42F;
        font-size: 4.5em;
        margin: 20px 0;
    }
    
    .main-empty-2 {
        flex-grow: 6;
    }
    
    .floating-profile-work {
        position: absolute;
        left: 12%;
        top:25%;
        width: 28%;
        height: 50%;
        z-index: 2
    }
    
    .floating-profile-work .profile-image-container {
        position: absolute;
        width: 325px;
        height: 325px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%;
        
    }
    
    .floating-profile-work .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 325px;
        width: 325px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .nav-link:link {
        color: #D8D8D8;
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-decoration: none;
    }

    .nav-link:visited {
        color: #D8D8D8;
    }

    .nav-link:hover {
        color: yellow;
      }

      .second-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        color: #171C46;
        padding: 0 40px;
        background-color: azure;
    }

    .left-to-full {
        margin-left: 20px;
        
    }
    .grey-boxes {
        display: flex;
        justify-content: space-between;
    }
    .grey-box {
        width: 48%;
        height: 220px;
        background-color: #D8D8D8;
    }
    .empty-box {
        width: 48%;
        height: 220px;
        position: relative;
    }
    .box-left-red {
        width: 46%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: red;
        background-color: #D8D8D8;;
    }
    
    .box-right-green{
        width: 46%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: green;
        background-color: #D8D8D8;;
    }
    .dark-section {
        display: flex;
        margin: 40px 0;
        justify-content: space-between;
    }
    .container-left{
        width: 48%;
    }
    .bigger-container {
        width: 48%;
        height: 400px;
        position: relative;
    }
    .bottom-div {
        display: flex;
        justify-content: space-between;
    }
    .bottom-content {
        width: 48%;
    }
    
}

@media screen 
  and (min-width: 1324px) 
  and (max-width: 1750px){
    .grey-boxes {
        display: flex;
        justify-content: space-between;
    }
    .grey-box {
        width: 48%;
        height: 220px;
        background-color: #D8D8D8;
    }
    .empty-box {
        width: 48%;
        height: 220px;
        position: relative;
    }

    .wrapper {
        width: 100%;
        height: 100vh;
    }
    .floating-profile .profile-image-container {
        position: absolute;
        width: 325px;
        height: 325px;
        z-index: 2;
    }
    
    .floating-profile .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 10%;
        height: 325px;
        width: 325px;
        z-index: -1;
    }
    .left-to-full {
        margin-left: 20px;
        
    }
    .box-left-red {
        width: 46%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: red;
        background-color: #D8D8D8;;
    }
    
    .box-right-green{
        width: 46%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: green;
        background-color: #D8D8D8;;
    }
    .dark-section {
        display: flex;
        margin: 40px 0;
        justify-content: space-between;
    }
    .container-left{
        width: 48%;
    }
    .bigger-container {
        width: 48%;
        height: 400px;
        position: relative;
    }
    .bottom-div {
        display: flex;
        justify-content: space-between;
    }
    .bottom-content {
        width: 48%;
    }
  }

  @media screen 
  and (max-width: 1199px) {
  // go to top
    .go-to-top {
        position: absolute;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
        color: #D26442;
    }

    // grey boxes
    .grey-boxes {
        display: flex;
        flex-direction: column;
    }
    .grey-box {
        width: 100%;
        height: 220px;
        margin-top: 20px;
        background-color: #D8D8D8;
    }
    .empty-box {
        width: 100%;
        height: 220px;
        position: relative;
    }
    
    .box-left-red {
        width: 100%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: red;
        margin-top: 20px;
        background-color: #D8D8D8;;
    }
    
    .box-right-green{
        width: 100%;
        height: 200px;
        border-style: solid;
        border-width: 2px;
        border-color: green;
        margin-top: 20px;
        background-color: #D8D8D8;;
    }
    .color-box-sections {
        margin: 10px 20px;

    }

    .dark-section {
        display: flex;
        flex-direction: column;
        margin: 40px 20px;
    }

    .container-left{
        width: 100%;
    }
    .bigger-container {
        width: 100%;
        height: 400px;
        position: relative;
    }
    .bottom-div {
        display: flex;
        flex-direction: column;
    }
    .bottom-content {
        width: 100%;
    }

    // main wrapper
    .wrapper {
        width: 100%;
        height: 100%;
    }
    .wrapper-main {
        display: flex;
        width: 100%;
        flex-direction: column;
        z-index: 0;
        height: 100%;
    } 
    .left-container-works {
        background-color: #F4C42F;
        height: 70px;
    }

    .text-container {
        width: 100%;
        font-size: 1em;
        color: white;
    }

    .text-syle {
        font-size: medium;
        color: #F4C42F;
    }

    .text-paragraph {
        margin: 4px 0;
    }
    .my-name-works {
        font-size: 1.5em;
        font-weight: 600;
        margin: 20px 0 0 20px;
        height: 70px;
    }
    
    .name-mayer {
        border-bottom: solid 7px #171C46;
    }
    .right-container-works {
        display: flex;
        flex-direction: column;
        justify-items: left;
        align-items: center;
        height: 100%;
        position: relative;
        background-color: #171C46;
    }

    .main-content {
        width: 100%;

    }
    .main-content.is-nav-open {
        display: none;
    }
    .main-empty-1 {
        display:none;
    }
    .main-text {
        display: flex;
        flex-direction: column;
    }
    .main-empty-2 {
        display: none;
    }
    .text-container-works {
        // display: flex;
        // flex-direction: column;
        // width: 100%;
        // padding: 0 20px;
        opacity: 0;
        transform: translateY(-20%);
        transition: opacity 2.5s ease-in;
        transition-delay: .5s;
    }
    .all-works {
        display: flex;
        flex-direction: column;
    }
    .each-work {
        display: flex;
        flex-direction: column-reverse;
    }

    .worker-separator {
        height: 5px;
        width: 100%;
        margin: 20px 0;
        background-color: #D26442;
    }

    .work-image-wrapper {
        height: 100px;
        background-color: #D8D8D8 ;
        margin: 0 20px;
    }

    .main-work-text {
        font-size:  2em;
        font-weight: 900;
        margin: 10px 0;
        color: white;
        padding: 0 20px;
    }
    .secondary-work-text {
        font-size: 1em;
        color: #F5C509;
        padding: 0 20px;
    }
    .floating-profile-work {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top:12%;
        left: 0;
        right: 0;
        height: 50%;
        z-index: 2
    }
    .no-dec {
        text-decoration: none;
    }
    .no-dec:link {
        color: none;
    }
    .no-dec:active {
        color: white;
    }
    .no-dec:visited {
        color: white;
    }
    .floating-profile-work{
        display: none;
    }
    .my-work { 
        font-size: 1.2em;
    }

    .floating-profile-work .profile-image-container {
        position: absolute;
        left: 5%;
        width: 300px;
        height: 300px;
        z-index: 2;
    }
    
    .image-prof {
        width: 100%;
    }
    
    .floating-profile-work .profile-image-blank {
        position: relative;
        background-color: #D26442;
        margin-top: 10%;
        margin-left: 15%;
        height: 300px;
        width: 300px;
        z-index: -1;
        box-shadow: 0 2px 4px 0 #000;
    }

    .large-text {
        color:  white;
        font-size: 5em;
        margin: 20px 0;
    }

    .navigation-works {
        left: -100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #F4C42F;
        width: 100%;
        font-size: 3em;
        height: 100vh;
        z-index: 3;
        transition: left .5s;
        justify-content: center;
    }
    .navigation-works p {
        margin: 10px 0 10px 0
    }

    .navigation-works.is-nav-open {
        left: 0;
        padding-left: 20px;

    }
    .nav-icon {
        margin: 1em;
        width: 40px;
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
      }
      
      .nav-icon:after, 
      .nav-icon:before, 
      .nav-icon div {
        background-color: #171C46;
        border-radius: 3px;
        content: '';
        display: block;
        height: 3px;
        margin: 7px 0;
        transition: all .2s ease-in-out;
      }

      .nav-icon.is-nav-open:before {
        transform: translateY(10px) rotate(135deg);
      }
      
      .nav-icon.is-nav-open:after {
        transform: translateY(-10px) rotate(-135deg);
      }
      
      .nav-icon.is-nav-open div {
        transform: scale(0);
      }
      .link-text {
          color: #D26442;
      }



    .work-modal {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba($color: #7e7e7e, $alpha: 0.6);
        z-index: 4;
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
    }
    .left-modal {
        height: 100vh;  
        width: 100%;
    }
    // .blurred-modal {
    //     position: relative;
    //     width: 20%;
    //     height: 100%;
    //     left: 0;
    //     top: 0;
    //     background: rgba($color: #7e7e7e, $alpha: 0.6);
    //     filter: blur(8px);
    //     -webkit-filter: blur(8px);
    // }
    .modal-main {
        position: fixed;
        right: -100%;
        background: white;
        width: 100%;
        height: 100%;
        color: #171C46;
        top: 0;
        transition: all .5s ease-in-out;
    }
    .modal-main.is-modal-open {
        right:0;
    }

    .close-modal {
        color: #D26442;
        margin: 20px 20px;
    }

    .top-content {
        flex-grow: 30;
    }

    .work-details {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100vh;
    }
     // works section
     .top-content {
        position: fixed;
        color: #D26442;
        top: 10px;
    }
    

    .first-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #171C46;
        color: white;
        padding: 0 40px;
    }
    
    .second-content {
        display: flex;
        margin: 10px;
        font-size: 16px;
        justify-content: space-around;
        align-items: center;
    }
    .section-intro {
        width: 300px;
    }

    .double-images-wrapper {
        display: flex;
        flex-direction: column;
    }

    .modal-small-img {
        width: 330px;
        height: 200px;
        margin: 15px;
        background-color: #F5C509;
    }

    .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }

    .news-format {
        display: flex;
    }
    .news-format-left {
        margin-left: 20px;
    }
    .news-format-right {
        margin-left: 40px;
        color: #D26442;
    }
    .quoted {
        font-size: 3em;
        position: relative;
        top: 10px;
        left: 10px;
        color: #D26442;
    }

    .news-sub-heading {
        font-weight: 600;
    }
    .news-heading {
        font-weight: 900;
        margin: .5em 0;
    }
    .my-work {
        padding: 0 20px
    }
  }


  @media screen 
  and (max-width: 549px){
    .news-format {
        display: flex;
        flex-direction: column;
    }
      .modal-justify-left {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }

    .second-content {
        display: flex;
        flex-direction: column;
    }
    .my-name-works {
        font-size: 1.5em;
        font-weight: 600;
        margin: 20px 0 0 20px;
        height: 70px;
    }

    .text-container-works {
        // display: flex;
        // flex-direction: column;
        // width: 100%;
        // padding: 0 20px;
        opacity: 0;
        transform: translateY(-20%);
        transition: opacity 2.5s ease-in;
        transition-delay: .9s;
    }
    
  }


  .with-quote {
      display: flex;
  }

  .close-modal {
      cursor: pointer;
  }

  .slide-down-works {
    animation: slide-down 2.5s forwards .5s 1;
    opacity: 1;
}

// colors
.primary-light-text {
    color: $primary-light;
}
.primary-dark-text {
    color: #171C46;
}
.primary-white-text {
    color: $primary-white;
    margin: 5px 0;
}

.basic-session {
    margin: 15px 0;
}

.all-blue-background {
    background-color: #171C46;
}

.middle-section {
    padding: 30px 20px ;
}
.flex-row {
    display: flex;
    
}
.align-center {
    align-items: center;
}
.simple-box {
    width: 20px;
    height: 20px;
    background-color: #D26442;
}

.boxed-text {
    margin: 5px 0px 5px 10px;
}
.space-between {
    justify-content: space-between;
}


.overlap-box-left {
    width: 90%;
    height: 66%;
    position: absolute;
    background-color: #D8D8D8;
}
.overlap-box-right {
    width: 90%;
    height: 66%;
    position: absolute;
    background-color: #D8D8D8;
    bottom: 0;
    right: 0;
}

.feedback-box {
    background-color: #171C46;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.bottom-box-content {
    background-color: #171C46;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
  }

.wireframe {
    width: 100%;
    height: 700px;
    border-width: 1px;
    border-style: solid;
}
.image-prof-works {
    width: 100%;
    
}