a.regularLink {
	&:hover {
		color: #B51A17 !important;
		text-decoration: underline !important;
	}
}

.noteText {
	color: #B51A17;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.4;
}

.sampleDiv {
	/*border: 1px solid black;*/
	height: 120px;
	width: 200px;
	margin: 15px;
	display: inline-block;
	&:nth-of-type(even) {
		border-left: 1px solid black;
	}
	&:nth-of-type(odd) {
		border-right: 1px solid black;
	}
}

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInBottom { 
	animation-name: fadeInBottom;
	opacity: 1;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.2s;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        /*transform: translateY(0%);
        -webkit-transform: translateY(0%);*/
    }
    to { opacity: 1 }
}


.portfolioContainer {
	.fadeInLeft {
	  animation-name: leftFadeInOut;
	  animation-delay: 0s;
	  animation-duration: 1.3s;
	}

	@keyframes leftFadeInOut {
	  0% {
	    opacity: 0;
	    -webkit-transform: translateX(-400px);
	    transform: translateX(-400px);;
	  }

	  100% {
	    opacity: 1;
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	  }
	}
	.leftContainer {
		/*background: #cccc55;*/
		/*margin-top: 32%;*/
		background: #e4e469;
		display: flex;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    text-align: center;

		.infoContainer {
			position: relative;
			color: #fcfcf0;
			.name, .title { 
				font-weight: bold;
			}
			.circleDivider {
/*			    background-color: #f9f9ee;
*/			    background-color: #fcfcf0;
		    	height: 20px;
		        width: 20px;
		        border-radius: 50%;
		        display: inline-block;
		        bottom: 5px;
		        position: relative;
			}
			body {
			  font-size: 62.5%;
			  font-style: Arial;
			}

			.animation-box {
			  width: 75%;
			  height: 27.5rem;
			  background-color: blue;
			  margin: 0 auto;
			  overflow: hidden;
			  position: relative;
			}

			.animation-container {
			  width: 1000rem;
			  height: 30rem;
			}
		}
		@keyframes topFadeOut {
		  0% {
		    position: absolute;
		    top: -3rem;
		    opacity: 0;
		  }

		  75% {
		    position: absolute;
		    top: 25%;
		    opacity: 1;
		  }

		  100% {
		    opacity: 0;
		  }
		}

		@keyframes bottomFadeOut {
		  0% {
		    position: absolute;
		    bottom: -5rem;
		    opacity: 0;
		  }

		  75% {
		    position: absolute;
		    bottom: 25%;
		    opacity: 1;
		  }

		  100% {
		    opacity: 0;
		  }
		  
		}

		@keyframes topFadeOutVertical {
		  0% {
		    position: absolute;
		    top: -3rem;
		    opacity: 0;
		  }

		  75% {
		    position: absolute;
		    top: 45%;
		    opacity: 1;
		  }

		  100% {
		    opacity: 0;
		  }
		}


		/*@keyframes leftFadeInOut {
		  0% {
		    position: absolute;
		    right: -3rem;
		    opacity: 0;
		  }

		  75% {
		    position: absolute;
		    right: 10rem;
		    opacity: 1;
		  }

		  100% {
		    opacity: 0;
		    right: 10rem;
		  }
		}*/

		@keyframes fadeInOut {
		  0% {
		    opacity: 0;
		  }

		  45% {
		    opacity: 1;
		  }

		  100% {
		    opacity: 0%;
		  }
		}

		/*.first-text {
		  font-size: 4.4rem;
		  position: absolute;
		  left: 2.5rem;
		  top: 5rem;
		  opacity: 0;
		  animation-name: topFadeOut;
		  animation-duration: 5s;
		  color: white;
		}*/

		/*.third-text {
		  transform: rotate(-90deg);
		  font-size: 2rem;
		  position: absolute;
		  left: 45%;
		  top: 45%;
		  opacity: 0;
		  animation-name: topFadeOutVertical;
		  animation-delay: 7.5s;
		  animation-duration: 6s;
		  color: #A3DDF0;
		  white-space: nowrap;
		}

		.fourth-text {
		  font-size: 3.4rem;
		  position: absolute;
		  top: 10.5rem;
		  left: 10%;
		  opacity: 0;
		  color: #F0A3BE;
		  animation-name: fadeInOut;
		  animation-delay: 8.5s;
		  animation-duration: 9s;
		}

		.fifth-text {
		  font-size: 5rem;
		  position: absolute;
		  left: 5%;
		  bottom: 25%;
		  opacity: 0;
		  color: #F0EBA3;
		  animation-name: bottomFadeOut;
		  animation-delay: 10s;
		  animation-duration: 9s;
		}*/
		.andText {
     		font-size: 0.8em;
    	}
	}
	.rightContainer {
		a {
			color: #D0021B;
			text-decoration: none;
			margin-bottom: 5px;
			cursor: pointer;
		}
		.worksSection {
		}
		.nextStudyLink {
			float: right;
		}
	    .section {
	    	max-width: 700px;
    	    margin-left: auto;
    	    margin-right: auto;
	    }
	    .firstName {
	    	font-size: 32px;
	    	color: #000;
	    }
	    .navbarContainer {
	    	width: 89%;
		    .navbar {
		    	list-style: none;
		    	/*margin-bottom: 0;*/
		    	margin: 0 auto;
		    	padding-left: 0px;
		    	.navItem {
		    		position: relative;
	    		    display: inline-block;
	    		    margin-bottom: 0;
	    		    height: 40px;
    		        text-transform: uppercase;
/*    		        letter-spacing: 0.1rem;
*/    		        letter-spacing: 0.05rem;
    		        font-weight: 400;
    		        margin-left: 15px;
    		        cursor: pointer;
	
		    		a {
		    			text-decoration: none;
		    			color: #000;
		    			transition: color 0.2s ease-in;
		    			-moz-transition: color 0.2s ease-in;
		    			-webkit-transition: color 0.2s ease-in;
		    			-o-transition: all 0.2s ease-in;
		    		}
		    		a:hover {
		    			color: #999;
		    		}
		    		a.selected {
		    			color: #999;
		    		}
		    	}
		    	.rightLinks {
		    		float: right;
		    		position: relative;
		    		left: 6px;
		    	}
		    	.homeLink {
		    		float: left;
		    		margin-left: 64px;
		    	}
		    	.homeLinkName {
		    		margin-left: 31px;
		    	}
		    }
	    }
	    .worksSection {
		    .leftWorksContainer {
				height: 300px;
				width: 250px;
				display: inline-block;
				margin-right: 50px;
/*				border-right: 1px solid #999;
*/				vertical-align: top;
				/*padding-right: 50px;*/
				.worksCategory {
					margin-bottom: 30px;
					.categoryTitle {
						color: #000;
						margin-bottom: 5px;
					}
				}
		    }
		    .rightWorksContainer {
				height: 300px;
				width: 250px;
				display: inline-block;
/*				border-left: 1px solid #999;
*/				vertical-align: top;
				/*padding-left: 50px;*/
				padding-left: 38px;
				a {
					display: block;
				}
		    }
		    .projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
		    	height: 100px;
		    	margin-top: 45px;
		    }
		    .articlesTitleContainer, .articlesLinksContainer {
		    	margin-top: 5px;
		    }
		    .articlesLinksContainer a {
		    	margin-bottom: 10px;
		    }
		    .categoryDescription {
		    	font-size: 0.8em;
		    	margin-bottom: 10px;
		    }
	    }
	}
}

/* WEB Media Query  */
@media only screen and (min-width: 1000px) {
	.webHide {
		display: none !important;
	}
	.portfolioContainer {
		.leftContainer {
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    width: 50%;
		    .infoContainer {
		    	.name { 
		    		font-size: 48px;
		    	}
		    	.title {
		    		font-size: 40px;
		    		font-weight: 600;
		    		width: 90%;
		    		    margin: auto;
		    		    margin-bottom: 20px;
		    	}
		    	.studyPreviewText {
		    		width: 58%;
	    		    margin: auto;
	    		    text-align: left;
	    		    margin-bottom: 10px;
	    		    font-weight: 600;
		    	}
		    	.studyRolesText {
		    		font-weight: 600;
		    	}
		    }
		}
		.minimize {
			background: #e4e469;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
		}
		.minimize {
		    -webkit-animation: w70 1.3s ease forwards;
		}
		/*.minimize {
		    width: 70%;
		}*/

		@-webkit-keyframes w70 {
		    from { width: 50%; }
		    to { width: 40%; }
		}

		@keyframes w70 {
		    from { width: 50%; }
		    to { width: 40%; }
		}

		.rightContainer {
			/*padding-top: 125px;*/
			/*padding-bottom: 125px;*/
		    margin-left: 50%;
			.homeSection {
				padding-bottom: 165px;
				.quoteContainer {
					margin-bottom: 0;
					.quote {
						color: #000;
					}
				}
				a {
					color: #D0021B;
					text-decoration: none;
					margin-bottom: 5px;
					cursor: pointer;
				}
			}
			&.fadeInRight {
				animation-name: rightFadeInOut;
				animation-delay: 0s;
				animation-duration: 1.3s;
				animation-fill-mode: backwards;
			}
			@keyframes rightFadeInOut {
			  0% {
			    opacity: 0;
			    -webkit-transform: translateX(400px);
			    transform: translateX(400px);
			  }

			  100% {
			    opacity: 1;
			    -webkit-transform: translateX(0);
			    transform: translateX(0);
			  }
			}
			.fadeInRightLast {
				animation-name: rightFadeInOutLast;
				animation-delay: 15s;
				animation-duration: 1.3s;
				animation-fill-mode: backwards;
			}
			@keyframes rightFadeInOutLast {
			  0% {
			    opacity: 0;
			    -webkit-transform: translateX(400px);
			    transform: translateX(400px);
			  }

			  100% {
			    opacity: 1;
			    -webkit-transform: translateX(0);
			    transform: translateX(0);
			  }
			}
		   /* height: 500px;*/
		    .section {
				padding-left: 75px;
				/*padding-right: 75px;*/
				padding-top: 125px;
				padding-right: 55px;
		    }
		    .navbarContainer {
		    	/*float: left;*/
		    	/*padding-right: 100px;*/
		    	padding-left: 10px;
		    	/*position: relative;
		    	top: 150px;*/
		    	.navbar {
		    		.homeLink {
		    			/*margin-right: 265px;*/
		    		}
		    	}
		    }
	        .worksSection {
	        	padding-bottom: 45px;
	    	    .leftWorksContainer {
	    			height: auto;
	    			width: 250px;
	    			display: inline-block;
	    			margin-right: 50px;
	    			/*border-right: 1px solid #999;*/
	    			vertical-align: top;
	    			/*padding-right: 50px;*/
	    			.worksCategory {
	    				margin-bottom: 30px;
	    				.categoryTitle {
	    					font-size: 2em;
	    					color: #000;
	    					margin-bottom: 5px;
	    				}
	    			}
	    	    }
	    	    .rightWorksContainer {
	    			height: auto;
	    			width: 250px;
	    			display: inline-block;
	    			/*border-left: 1px solid #999;*/
	    			vertical-align: top;
	    			/*padding-left: 50px;*/
	    			a {
	    				display: block;
	    			}
	    	    }
	    	    .categoryDescription {
	    	    	font-size: 0.75em;
	    	    }
	    	    .studiesTitleContainer, .studiesLinksContainer {
	    	    	height: 175px;
	    	    }
	    	    .projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
	    	    	margin-top: 45px;
	    	    }
    	    	.projectsTitleContainer, .projectsLinksContainer {
					margin-top: 60px;
    	    	}
    	    	.articlesTitleContainer, .articlesLinksContainer {
					margin-top: 25px;
    	    	}
	        }
		}
		.expand {
		    -webkit-animation: w50 1.3s ease forwards;
		}
		.expand {
		   margin-left: 50%;
		}

		@-webkit-keyframes w50 {
		    from { margin-left: 50%; }
		    to { margin-left: 43%; }
		}

		@keyframes w50 {
		    from { margin-left: 50%; }
		    to { margin-left: 43%; }
		}
		
	}
}

/* Mobile Media Query  */
@media only screen and (max-width: 1000px) {
	.mobileHide {
		display: none !important;
	}
	.portfolioContainer {
		.leftContainer {
			position: relative;
			width: auto;
			height: 175px;
			.infoContainer {
				margin: auto;
				/*margin-bottom: 5px;*/
				width: 78%;
				&.preview {
					p {
						font-weight: bold;
					    font-size: 18px;
					    text-align: left;
					    margin-bottom: 55px;
					}
					.circleDivider {
					    position: relative;
					    bottom: 25px;
					}	
				}
				.name, .title { 
					font-size: 30px !important;
				}
			}
		}
		.minimize {
			background: #e4e469;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
		}
		.minimize {
		    -webkit-animation: w70 1.3s ease forwards;
		}
		.minimize {
		    width: 100%;
		    position: static;
		    margin-bottom: 21px;
		}

		@-webkit-keyframes w70 {
		    from { height: 220px; }
		    to { height: 525px; }
		}

		@keyframes w70 {
		    from { height: 220px; }
		    to { height: 525px; }
		}
		/*.previewTop {
			margin-top: -150px
		}*/
		.previewTop {
		    -webkit-animation: w99 1.3s ease forwards;
		}

		@-webkit-keyframes w99 {
		    from { margin-top: -150px; }
		    to { margin-top: 0px; }
		}

		@keyframes w99 {
		    from { margin-top: -150px; }
		    to { margin-top: 100px; }
		}
		.exterminate {
		    -webkit-animation: w50 1.3s ease forwards;
		}
		.exterminate {
		    width: 100%;
		    position: static;
		    .infoContainer {
		    	.title { 
		    		margin-bottom: 2px;	
		    	}
		    }
		}

		@-webkit-keyframes w50 {
		    from { height: 500px; }
		    to { height: 125px; }
		}

		@keyframes w50 {
		    from { height: 500px; }
		    to { height: 125px; }
		}
		.rightContainer {
		    position: relative;
		    width: auto;
		    /*height: 500px;*/
		    height: auto;
		    padding-top: 15px;
		    a {
		    	color: #D0021B;
		    	text-decoration: none;
		    	margin-bottom: 5px;
		    	cursor: pointer;
		    }
		    &.preview {
		    	height: 0px;
		    }
		    .homeSection {
		    	padding-bottom: 75px;
		    	padding-right: 30px;
		    	padding-left: 30px;
		    }
		    .navbarContainer {
		    	margin-left: auto;
		    	margin-right: auto;
		    	width: 325px;
		    	position: relative;
		    	.navbar {
		    		padding-left: 0;
		    		.homeLink {
		    			margin-left: 0px;
		    		}
		    		.homeLinkName {
		    			margin-left: 0px;
		    		}
		    	}
		    }
    	    .worksSection {
    	    	padding-bottom: 41px;
    	    	a {
    	    		margin-bottom: 10px;
    	    	}
    	    	.leftWorksContainer {
    	    		/*padding-top: 15px;*/
	    		    height: auto;
	    		    width: 100px;
	    		    display: inline-block;
	    		    margin-right: 28px;
	    		    /* border-right: 1px solid #999; */
	    		    vertical-align: top;
	    		    /* padding-right: 25px; */
	    		    margin-left: 28px
    	    	}
    	    	.worksCategory {
    	    		.categoryTitle {
    	    			font-size: 1.4em;
    	    		}
    	    	}
    	    	.rightWorksContainer {
  /*  	    		padding-top: 15px;
    	    		height: auto;
	    		    width: 125px;
	    		    display: inline-block;
/*	    		    border-left: 1px solid #999;
*/	    		   /* vertical-align: top;
	    		    padding-left: 46px;*/
					padding-left: 0;
	    		    padding-top: 5px;
    		        height: auto;
    		        width: 190px;
    		        display: inline-block;
    		        vertical-align: top;
    	    	}

    	    	.studiesTitleContainer, .studiesLinksContainer {
    	    		height: 125px;
    	    	}
    	    	/*.studiesTitleContainer, .studiesLinksContainer {
    	    		margin-top: 15px;
    	    	}*/
    	    	/*.projectsTitleContainer, .projectsLinksContainer {
    	    		margin-top: 65px;;
    	    	}*/
    	    	.projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer {
    	    		height: 100px;
    	    		/*margin-top: 45px;*/
    	    	}
    	    	.articlesTitleContainer, .articlesLinksContainer {
    	    		margin-top: -40px;
    	    	}
    	    }
		}
	}
}
