
.leftContainer {
	background: #cccc55;
}
.rightContainer {
	background: #f9f9ee;
}

@media only screen and (min-width: 1000px) {
	.leftContainer {
	    position: fixed;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    width: 50%; 
	}

	.rightContainer {
	    margin-left: 50%;
	    height: 800px;
	}
}

@media only screen and (max-width: 1000px) {
	.leftContainer {
		position: relative;
		width: auto;
		height: 500px;
	}
	.rightContainer {
	    position: relative;
	    width: auto;
	    height: 500px;
	}
}
