p {
	margin-top: 0;
	margin-bottom: 20px;
}

.sampleDiv {
	/*border: 1px solid black;*/
	height: 120px;
	width: 200px;
	margin: 15px;
	display: inline-block;
	&:nth-of-type(even) {
		border-left: 1px solid black;
	}
	&:nth-of-type(odd) {
		border-right: 1px solid black;
	}
}


.portfolioContainer {
	.leftContainer {
		/*background: #cccc55;*/
		background: #e4e469;
		display: flex;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    text-align: center;

		.infoContainer {
			.name, .title { 
				font-weight: bold;
				color: #fcfcf0;
			}
			.circleDivider {
/*			    background-color: #f9f9ee;
*/			    background-color: #fcfcf0;
			    border-radius: 50%;
			    display: inline-block;
			    bottom: 5px;
			    position: relative;
			}	
		}
	}
	.rightContainer {
	    .section {
	    	max-width: 700px;
    	    margin-left: auto;
    	    margin-right: auto;
    	    a {
    	    	color: #D0021B;
    	    	text-decoration: none;
    	    	margin-bottom: 5px;
    	    	font-size: 1em;
    	    }
	    }
	    .firstName {
	    	font-size: 32px;
	    	color: #000;
	    }
	    .navbarContainer {
	    	width: 89%;
		    .navbar {
		    	list-style: none;
		    	/*margin-bottom: 0;*/
		    	margin: 0 auto;
		    	padding-left: 0px;
		    	.navItem {
		    		position: relative;
	    		    display: inline-block;
	    		    margin-bottom: 0;
	    		    height: 40px;
    		        text-transform: uppercase;
/*    		        letter-spacing: 0.1rem;
*/    		        letter-spacing: 0.05rem;
    		        font-weight: 400;
    		        margin-left: 15px;
    		        cursor: pointer;
	
		    		a {
		    			text-decoration: none;
		    			color: #000;
		    			transition: color 0.2s ease-in;
		    			-moz-transition: color 0.2s ease-in;
		    			-webkit-transition: color 0.2s ease-in;
		    			-o-transition: all 0.2s ease-in;
		    		}
		    		a:hover {
		    			color: #999;
		    		}
		    		a.selected {
		    			color: #999;
		    		}
		    	}
		    	.rightLinks {
		    		float: right;
		    		position: relative;
		    		left: 6px;
		    	}
		    	.homeLink {
		    		float: left;
		    		margin-left: 64px;
		    	}
		    	.homeLinkName {
		    		margin-left: 31px;
		    	}
		    }
	    }
	    .worksSection {
		    .leftWorksContainer {
				height: 300px;
				width: 200px;
				display: inline-block;
				margin-right: 50px;
				border-right: 1px solid #999;
				vertical-align: top;
				/*padding-right: 50px;*/
				.worksCategory {
					margin-bottom: 30px;
					.categoryTitle {
						color: #000;
						margin-bottom: 5px;
					}
				}
		    }
		    .rightWorksContainer {
				height: 300px;
				width: 200px;
				display: inline-block;
				border-left: 1px solid #999;
				vertical-align: top;
				/*padding-left: 50px;*/
				a {
					display: block;
				}
		    }
		    .projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
		    	height: 100px;
		    	margin-top: 45px;
		    }
		    .articlesTitleContainer, .articlesLinksContainer {
		    	margin-top: 5px;
		    }
		    .categoryDescription {
		    	font-size: 0.8em;
		    	margin-bottom: 10px;
		    }
	    }
	}
}

/* WEB Media Query  */
@media only screen and (min-width: 1000px) {
	.webHide {
		display: none !important;
	}
	.portfolioContainer {
		.leftContainer {
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    width: 50%;
		    .infoContainer {
		    	.name, .title { 
		    		font-size: 48px;
		    	}
		    	.circleDivider {
		    		height: 15px;
		    	    width: 15px;
		    	    border-radius: 50%;
		    	    display: inline-block;
		    	    bottom: 5px;
		    	    position: relative;
		    	}	
		    }
		}
		.minimize {
			background: #e4e469;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
		}
		.minimize {
		    -webkit-animation: w70 1.3s ease forwards;
		}
		.minimize {
		    width: 70%;
		}

		@-webkit-keyframes w70 {
		    from { width: 50%; }
		    to { width: 40%; }
		}

		@keyframes w70 {
		    from { width: 50%; }
		    to { width: 40%; }
		}

		.rightContainer {
			/*padding-top: 125px;*/
			padding-bottom: 125px;
		    margin-left: 50%;
			.homeSection {
				padding-bottom: 208px;
				.quoteContainer {
					margin-bottom: 0;
					.quote {
						color: #000;
					}
				}
			}
		   /* height: 500px;*/
		    .section {
				padding-left: 75px;
				padding-right: 75px;
				padding-top: 125px;
		    }
		    .navbarContainer {
		    	/*float: left;*/
		    	/*padding-right: 100px;*/
		    	padding-left: 10px;
		    	/*position: relative;
		    	top: 150px;*/
		    	.navbar {
		    		.homeLink {
		    			/*margin-right: 265px;*/
		    		}
		    	}
		    }
	        .worksSection {
	        	padding-bottom: 45px;
	    	    .leftWorksContainer {
	    			height: auto;
	    			width: 200px;
	    			display: inline-block;
	    			margin-right: 50px;
	    			border-right: 1px solid #999;
	    			vertical-align: top;
	    			padding-right: 50px;
	    			.worksCategory {
	    				margin-bottom: 30px;
	    				.categoryTitle {
	    					font-size: 2em;
	    					color: #000;
	    					margin-bottom: 5px;
	    				}
	    			}
	    	    }
	    	    .rightWorksContainer {
	    			height: auto;
	    			width: 200px;
	    			display: inline-block;
	    			border-left: 1px solid #999;
	    			vertical-align: top;
	    			padding-left: 50px;
	    			a {
	    				display: block;
	    			}
	    	    }
	    	    .categoryDescription {
	    	    	font-size: 0.75em;
	    	    }
	    	    .studiesTitleContainer, .studiesLinksContainer {
	    	    	height: 175px;
	    	    }
	    	    .projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
	    	    	margin-top: 45px;
	    	    }
	        }
		}
		.expand {
		    -webkit-animation: w50 1.3s ease forwards;
		}
		.expand {
		   margin-left: 50%;
		}

		@-webkit-keyframes w50 {
		    from { margin-left: 50%; }
		    to { margin-left: 43%; }
		}

		@keyframes w50 {
		    from { margin-left: 50%; }
		    to { margin-left: 43%; }
		}
	}
}

/* Mobile Media Query  */
@media only screen and (max-width: 1000px) {
	.mobileHide {
		display: none !important;
	}
	.portfolioContainer {
		.leftContainer {
			position: relative;
			width: auto;
			height: 220px;
			.infoContainer {
				.name, .title { 
					font-size: 32px;	
				}
				.circleDivider {
					height: 10px;
				    width: 10px;
				}	
			}
		}
		.minimize {
			background: #e4e469;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
		}
		.minimize {
		    -webkit-animation: w70 1.3s ease forwards;
		}
		.minimize {
		    height: 220px;
		    width: 100%;
		    position: static;
		    margin-bottom: 182px;
		}

		@-webkit-keyframes w70 {
		    from { height: 220px; }
		    to { height: 500px; }
		}

		@keyframes w70 {
		    from { height: 220px; }
		    to { height: 500px; }
		}
		.rightContainer {
		    position: relative;
		    width: auto;
		    height: 500px;
		    padding-top: 50px;
		    .homeSection {
		    	padding-bottom: 57px;
		    	padding-right: 30px;
		    	padding-left: 30px;
		    }
		    .navbarContainer {
		    	margin-left: auto;
		    	margin-right: auto;
		    	width: 325px;
		    	position: relative;
		    	.navbar {
		    		padding-left: 0;
		    		.homeLink {
		    			margin-left: 0px;
		    		}
		    		.homeLinkName {
		    			margin-left: 0px;
		    		}
		    	}
		    }
    	    .worksSection {
    	    	padding-bottom: 84px;
    	    	.leftWorksContainer {
    	    		padding-top: 15px;
    	    		height: auto;
        		    width: 125px;
        		    display: inline-block;
        		    margin-right: 28px;
        		    border-right: 1px solid #999;
        		    vertical-align: top;
        		    /* padding-right: 25px; */
        		    margin-left: 44px;
    	    	}
    	    	.worksCategory {
    	    		.categoryTitle {
    	    			font-size: 1.4em;
    	    		}
    	    	}
    	    	.rightWorksContainer {
    	    		padding-top: 15px;
    	    		height: auto;
	    		    width: 125px;
	    		    display: inline-block;
	    		    border-left: 1px solid #999;
	    		    vertical-align: top;
	    		    padding-left: 46px;
    	    	}
    	    	.studiesTitleContainer, .studiesLinksContainer {
    	    		height: 125px;
    	    	}
    	    	.studiesTitleContainer, .studiesLinksContainer, .projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
    	    		margin-top: 15px;
    	    	}
    	    	.projectsTitleContainer, .articlesTitleContainer, .projectsLinksContainer, .articlesLinksContainer {
    	    		height: 100px;
    	    		/*margin-top: 45px;*/
    	    	}
    	    }
		}
	}
}
