/* @import "./assets/fonts/effra/Effra_Std_Rg.ttf";
@import "./assets/fonts/effra/Effra_Std_Lt.ttf";
@import "./assets/fonts/effra/Effra_Std_Bd.ttf"; */

* {
    font-family: effra, sans-serif;
    font-style: normal;
    font-weight: 300;
}

a.plain-link {
    font-weight: bold;
}


.top-nav {
    margin-top: 3px;
    list-style: none;
}

.top-nav li {
    color: #171C46 !important;
    float: left;
}

.top-nav li .nav-link {
    color: #191D44 !important;
    font-weight: 300;
}

.top-nav li .nav-link:hover {
    color: #0a0c1f !important;
    text-decoration: none !important;
}

.side-nav-content {
    width: 380px;
    height: 252px;
    z-index: 2;
    position: relative;
    margin-bottom: 90px;
}


.side-nav-content img{
    width: 330px;
    height: 250px;
}



.name-mayer {
    font-weight: bold;
    display: block;
}